<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @institution.name %>
</p>

<p>
  <strong>Start:</strong>
  <%= @institution.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @institution.end %>
</p>

<p>
  <strong>Loan:</strong>
  <%= @institution.loan %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @institution.amount %>
</p>

<p>
  <strong>Photourl:</strong>
  <%= image_tag @institution.image.thumbnail.url if @institution.image? %>
</p>


<%= link_to 'Edit', edit_institution_path(@institution) %> |
<%= link_to 'Back', institutions_path %>
