<div class="container">
<div class="row">
  <div class="col-md-4">
  </div> 
  <div class="col-md-4 somespace">
      <!-- <button type="button" class="btn btn-primary"><%= link_to 'Edit', user_path(@user) %> </button> -->
      <%= link_to 'Back', root_path, :class=>"btn btn-primary" %>
  </div>
  <div class="col-md-4">
  </div>
</div>
<div class="row">
      <div class="col-xs-12 col-sm-9">

        <!-- User profile -->
        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">User profile</h4>
          </div>
          <div class="panel-body">
            <div class="profile__avatar">
              <%= image_tag @user.image.thumbnail.url, alt: "" if @user.image? %>
            </div>
            <div class="profile__header">
              <h4><%= @user.firstname %><small> <%=@user.lastname%></small></h4>
              <p class="text-muted">
                Your credit score.
              </p>


            </div>
          </div>
        </div>

        <% total = 0 %>

       <!-- Skils -->
        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">Employment details</h4>
          </div>
          <div class="panel-body">

              <table class="table profile__table">
                <% @user.employments.each do |employment| %>
                <tbody>
                  <tr>
                    <th><strong>Status</strong></th>
                    <td><%= employment.status %></td>
                  </tr>
                  <tr>
                    <th><strong>Start date</strong></th>
                    <td><%= employment.start %></td>
                  </tr>
                  <tr>
                    <th><strong>End date</strong></th>
                    <td><%= employment.end %></td>
                  </tr>
                  <tr>
                    <th><strong>Average income</strong></th>
                    <td><%= employment.average_income %></td>
                  </tr>
                   <tr>
                    <th><strong>Score</strong></th>
                    <td>80</td>
                  </tr>

                  <tr>

                    <th><strong>Payment Score</strong>></th>
                    <td><strong>user.loans.last.credit_score</strong></td>

                  </tr>
                </tbody>
                <% end %>
              </table>

          </div>
        </div>


        <!-- Expenditure -->
        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">Expenditures</h4>
          </div>
          <div class="panel-body">
            <table class="table profile__table">
              <% @user.expenditures.each do |expenditure| %>
              <tbody>
                <tr>
                  <th><strong>Expense type</strong></th>
                  <td><%= expenditure.expense_type %></td>
                </tr>
                <tr>
                  <th><strong>Amount</strong></th>
                  <td><%= expenditure.amount %></td>
                </tr>
                <tr>
                  <th><strong>Time</strong></th>
                  <td><%= expenditure.period %></td>
                </tr>
                 <tr>
                  <th><strong>Score</strong></th>
                  <td>40</td>
                </tr>
              </tbody>
              <% end %>
            </table>
          </div>
        </div>


        <!-- Savings -->
        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">Savings</h4>
          </div>
          <div class="panel-body">
            <table class="table profile__table">
              <% @user.savings.each do |saving| %>
              <tbody>
                <tr>
                  <th><strong>Account number</strong></th>
                  <td><%=saving.account_number %></td>
                </tr>
                <tr>
                  <th><strong>Amount</strong></th>
                  <td><%=saving.amount %></td>
                </tr>
                <tr>
                  <th><strong>Time</strong></th>
                  <td><%=saving.date %></td>
                </tr>
                 <tr>
                  <th><strong>Score</strong></th>
                  <td>60</td>
                </tr>
              </tbody>
              <% end %>
            </table>
          </div>
        </div>

        <!-- Gaurantor -->
        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">Guarantors</h4>
          </div>
          <div class="panel-body">
            <table class="table profile__table">
              <% @user.guarantors.each do |guarantor| %>
              <tbody>
                <tr>
                  <th><strong>Guarantors name</strong></th>
                  <td><%=guarantor.fullname %></td>
                </tr>
                <tr>
                  <th><strong>Income</strong></th>
                  <td><%=guarantor.annual_income %></td>
                </tr>
                <tr>
                  <th><strong>Business</strong></th>
                  <td><%=guarantor.business %></td>
                </tr>
                 <tr>
                  <th><strong>Score</strong></th>
                  <td>35</td>
                </tr>
              </tbody>
              <% end %>
            </table>
          </div>
        </div>

         <!-- Phone messages-->
        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">Messages</h4>
          </div>
          <div class="panel-body">
            <table class="table profile__table">
              <% @user.messages.each do |message| %>
              <tbody>
                <tr>
                  <th><strong>Time sent</strong></th>
                  <td><%= message.sent_at %></td>
                </tr>
                <tr>
                  <th><strong>Content</strong></th>
                  <td><%= message.content %></td>
                </tr>
                <tr>
                  <th><strong>Amount</strong></th>
                  <td><%= message.amount %></td>
                </tr>
                 <tr>
                  <th><strong>Score</strong></th>
                  <td><%= message.call_score %></td>
                  <% total += message.call_score %>
                </tr>
              </tbody>
              <% end %>
            </table>
          </div>
        </div>

         <!-- Phone Calls -->
        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">Phone Calls</h4>
          </div>
          <div class="panel-body">
            <table class="table profile__table">
              <% @user.dailups.each do |call| %>
              <tbody>
                <tr>
                  <th><strong>Call Time</strong></th>
                  <td><%= call.called_at %></td>
                </tr>
                <tr>
                  <th><strong>Amount</strong></th>
                  <td><%= call.number_called %></td>
                </tr>
                <tr>
                  <th><strong>Time</strong></th>
                  <td><%= call.duration %></td>
                </tr>
                 <tr>
                  <th><strong>Score</strong></th>
                  <td><%= call.call_score %></td>
                  <% total += call.call_score %>
                </tr>
              </tbody>
              <% end %>
            </table>
          </div>
        </div>

       

        <!-- Gaurantor -->
        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">Total Credit Score</h4>
          </div>
          <div class="panel-body">
            <table class="table profile__table">
              <tbody>
                <tr>
                  <th><strong>Total</strong></th>
                  <td><%= total %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>



      </div>
      <div class="col-xs-12 col-sm-3">

        <!-- Contact user -->
        <p>
          <a href="#" class="profile__contact-btn btn btn-lg btn-block btn-info" data-toggle="modal" data-target="#profile__contact-form">
            Contact user
          </a>
        </p>

        <hr class="profile__contact-hr">

        <!-- Contact info -->
        <div class="profile__contact-info">
          <div class="profile__contact-info-item">
            <div class="profile__contact-info-icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="profile__contact-info-body">
              <h5 class="profile__contact-info-heading">Mobile numberr</h5>
              <%=@user.phonenumber %>
            </div>
          </div>

          <div class="profile__contact-info-item">
            <div class="profile__contact-info-icon">
              <i class="fa fa-envelope-square"></i>
            </div>
            <div class="profile__contact-info-body">
              <h5 class="profile__contact-info-heading">E-mail address</h5>
              <a href="mailto:admin@domain.com"><%=@user.email %></a>
            </div>
          </div>

          <div class="profile__contact-info-item">
            <div class="profile__contact-info-icon">
              <i class="fa fa-map-marker"></i>
            </div>
            <div class="profile__contact-info-body">
              <h5 class="profile__contact-info-heading">Home address</h5>
              <h5>No 54 Aluguntugunt Street, East Legon,Accra.</h5>

              <%= link_to 'Back', home_member_path %>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>

<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">



</script>


