
<div class="well">
		<%= form_for @post do |f| %>
			<div class="form-group">
				<%= f.text_area :content, placeholder: "Add a post" ,class: "form-control"%><br />
			</div>
				<%= f.submit  "Add Post", class: "btn btn-primary"%>
		<% end %>
</div>


<!-- Blog Post -->
<% @posts.each do |post| %>
	<div class="media">
		<a class="pull-left" href="#">
	       <img class="media-object" src="http://placehold.it/64x64" alt="">
	    </a>

	     <div class="media-body">
	           <h4 class="media-heading">Submitted by <%= post.user.email%>
	               <small><%= time_ago_in_words(post.created_at)%> ago</small>
	            </h4>
			<p><%= post.content %></p>
			
	  	</div>
	  	<div id="likes">
			<%= render partial: "posts/likes", :locals =>{post: post} %>
		</div>
			<div id="shares">
			<%= render partial: "posts/repost", :locals =>{post: post} %>
		</div>
   </div>

	<!-- Blog Comments -->
	<ul>
		<%= render(partial: 'comments/comment' , collection: post.comments) %>
	</ul>


	<!-- Comments Form -->
	<div class="well">
        <h4>Leave a Comment:</h4>
              
				<%= form_for [post, Comment.new] do |f| %>
					<div class="form-group">
						<%= f.text_area :body, placeholder: "Add a comment" ,class: "form-control"%><br />
					</div>
					<%= f.submit  "Add Comment"%>
				<% end %>
    </div>
<% end %>


              
               

            
