<h2><%= @post.content %></h2>
<br/>
<a class="pull-left" href="#">
     <%= cl_image_tag(@post.user.image.url if @post.user.image?, :size => "260x180", :crop => :fill) %>
</a>
<small> Submitted <%= time_ago_in_words(@post.created_at)%> ago </small>

<h5> Comments </h5>
s
<ul>
	<%= render(partial: 'comments/comment' , collection: @post.comments) %>
</ul>

<%= form_for [@post, Comment.new] do |f| %>
	<%= f.text_area :body, placeholder: "Add a comment" %><br />
	<%= f.submit  "Add Comment"%>
<% end %>

