<p id="notice"><%= notice %></p>

<p>
  <strong>Expense type:</strong>
  <%= @expenditure.expense_type %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @expenditure.amount %>
</p>

<p>
  <strong>Period:</strong>
  <%= @expenditure.period %>
</p>

<p>
  <strong>User:</strong>
  <%= @expenditure.user %>
</p>

<%= link_to 'Edit', edit_expenditure_path(@expenditure) %> |
<%= link_to 'Back', expenditures_path %>
