<!DOCTYPE html>
<html>
  <head>
    <title>Imperium</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

 <%= render 'layouts/shared/navbar' %>
    
      <% flash.each do |key,value| %>
         <% content_tag("#{key}") do %>
            <p><%= value %></p>
               <% end %>
                    <% end %>
        <%= yield %>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>
